.unsubscribe-wrapper {
  .title {
    color: white;
  }

  .list {
    background-color: #00d180;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
  }
}
